body { 
    margin: 0; 
    font-family: sans-serif; 
    text-align: center; 
    background: #222; 
    color: #eee; 
}

canvas { 
    width: 100%; 
    height: auto; 
    display: block; /* Center canvas */
    margin: 0 auto;
}

#info {
    margin: 20px;
}

#exportGif {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #59a5e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#exportGif:hover {
    background-color: rgb(91, 151, 204);
}

#exportGif:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
